@import 'lines/admin/variables_and_mixins';

$max-width: 960px;

$darkgrey: #333;
$lightgrey: #666;
$orange: #ee4422;

$red: #c10020;
$black: #100719;
$grey: #9793a0;
$white: #fff;
$green: #00c289;
$darkred: #730035;

$first: #f9f9f9;
$second: #ffe0ac;
$third: #ffacb7;
$fourth: #6886c5;

// colorhunt bluegray
// $first: #f5f5f5;
// $second: #3fc1c9;
// $third: #fc5185;
// $fourth: #364f6b;

// colorhunt blue
// $first: #fdfdfd;
// $second: #a1eafb;
// $third: #ffcef3;
// $fourth: #cabbe9;

$SourceSansPro: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$MerriweatherSans: 'Merriweather Sans', 'Helvetica', 'Arial', sans-serif;
$Merriweather: 'Merriweather', 'Georgia', serif;
$Monospace: 'Fira mono', monospace;

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}