<footer id="footer">
  <div class="container">
    <p>This is a blog I crearted to try to help bootcamp friends. You can see the code on <a href="https://github.com/BGRicker/bootcamp-blog">Github</a>.</p>

    <p>I'm a software engineer at <a href="http://rocketinsights.com/">Rocket Insights</a>, the greatest product agency in the world</p>

    <p>If you want to reach out, you can <a href="www.twitter.com/goodtimehaver">tweet at me</a> or <a href="mailto:bgricker@gmail.com">email me</a></p>
  </div>
</footer>
